<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hp.groceriapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/groceridribbble"
        android:label="@string/app_name"
        android:roundIcon="@drawable/groceridribbble"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shrine"
        android:usesCleartextTraffic="true">
        <activity android:name=".Shopowner.HomeDrawer">

        </activity>
        <activity android:name=".Customer.CustomerSignup" />
        <activity android:name=".Shopowner.ShopOwnerSignUp" />
        <activity
            android:name=".PreSignup.SelectUser"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent"/>
        <activity
            android:name=".PreSignup.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>